@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Oxygen');

body {
	background-color: #daddd9;
	font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.clear {
  clear: all;
}

.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 32px;
}

.navbar-light a.navbar-brand {
  color: #1a700d;
}

.navbar-light .navbar-brand:hover {
  color: #0f4707;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #1a700d;
}

.bg-faded {
  background-color: #b4dba0;
}

.navbar-light .navbar-nav .nav-link {
  color: #1a700d;
}

.navbar ul li a {
  color: #1a700d !important;
}

.navbar ul li a:hover {
  color: #0f4707 !important;
}

.BoxWithShadow {
  background: #fff;
  border: solid 1px #c6c5c5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 2px 2px #c6c5c5;
  -webkit-box-shadow: 2px 2px 2px 2px #c6c5c5;
  box-shadow: 2px 2px 2px 2px #c6c5c5;
  margin-top: 10px;
  padding-top: 10px;
}

.btn-success {
  color: #fff;
  background-color: #1a700d;
  border-color: #1a700d;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #0f4707;
    border-color: #0f4707; /*set the color you want here*/
}
